@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --color-b58d7e: #b58d7e;
    --color-caab9f: #caab9f;
    --color-eae0dc: #eae0dc;
    --color-e1cec7: #e1cec7;
    --color-faf7f6: #faf7f6;
    --color-f0e8e4: #f0e8e4;
    --color-31231e: #31231e;
    --color-5e473e: #5e473e;
    --color-845f51: #845f51;
    --color-9e7464: #9e7464;
    --color-00000080: #00000080;
    --z-index-100: 100;
    --z-index-1000: 1000;
    --z-index-10000: 10000;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

body {
    background-color: var(--color-faf7f6);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--color-eae0dc);
}

html::-webkit-scrollbar-thumb {
    background: var(--color-b58d7e);
}

section {
    padding: 3rem 9%;
}

::selection {
    background-color: var(--color-e1cec7);
    color: var(--color-31231e);
}

.c-heading {
    background: var(--color-e1cec7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 2%;
    border-radius: 3rem;
}

.c-heading h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-5e473e);
}

.c-heading p {
    font-size: 2rem;
    color: var(--color-31231e);
}

.c-heading p a {
    color: var(--color-5e473e);
}

.c-heading p a:hover {
    color: var(--color-845f51);
}

.c-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--color-5e473e);
    padding-bottom: 1.5rem;
}

.c-title span {
    font-size: 2.5rem;
    color: var(--color-5e473e);
}

.c-title a {
    font-size: 1.5rem;
    color: var(--color-b58d7e);
}

.c-title a:hover {
    transform: translateX(-3px);
    color: var(--color-9e7464);
}

.c-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    background: linear-gradient(135deg, var(--color-b58d7e), var(--color-845f51));
    color: var(--color-faf7f6);
    cursor: pointer;
    border-radius: 1rem;
}

.c-btn:hover {
    letter-spacing: 2px;
    background: linear-gradient(135deg, var(--color-9e7464), var(--color-b58d7e));
}

/* header section start */
.c-header {
    padding: 2rem 9%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-100);
    background: var(--color-f0e8e4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0 0 2rem erem;
}

.c-header .c-logo {
    font-size: 2.5rem;
    color: var(--color-5e473e);
    font-weight: 500;
}

.c-header .c-logo i {
    padding-right: .3rem;
}

.c-header .c-search-form {
    height: 5rem;
    width: 50rem;
    border-radius: .75rem;
    background-color: transparent;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--color-f0e8e4);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.1rem solid var(--color-caab9f);
}

.c-header .c-search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--color-5e473e);
    text-transform: none;
    background: transparent;
}

.c-header .c-search-form input::placeholder {
    color: var(--color-5e473e);
}

.c-header .c-search-form label {
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: var(--color-5e473e);
}

.c-header .c-search-form label:hover {
    color: var(--color-9e7464);
}

.c-header .c-icons {
    display: flex;
    align-items: center;
}

.c-header .c-icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--color-5e473e);
}

.c-header .c-icons div:hover {
    color: var(--color-9e7464);
}

#id-search-btn {
    display: none;
}

#id-closer {
    position: fixed;
    top: 5rem;
    right: 4rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: var(--z-index-10000);
    color: var(--color-5e473e);
    -webkit-animation: rotate .4s linear .4s backwards;
    animation: rotate .4s linear .4s backwards;
    display: none;
}

#id-closer:hover {
    color: var(--color-9e7464);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
    }
}
/* header section end */

/* navbar start */
.c-navbar {
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    z-index: var(--z-index-1000);
    width: 35rem;
    background: var(--color-f0e8e4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2%;
    border-radius: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.c-navbar.c-active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw var(--color-00000080);
    box-shadow: 0 0 0 100vw var(--color-00000080);
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.c-navbar a {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--color-5e473e);
}

.c-navbar a:hover {
    color: var(--color-9e7464);
}
/* navbar end */

/* shopping cart start */
.c-shopping-cart {
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -101%;
    z-index: var(--z-index-1000);
    width: 35rem;
    background: var(--color-f0e8e4);
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
    margin: 2%;
    border-radius: 3rem;
}

.c-shopping-cart.c-active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw var(--color-00000080);
    box-shadow: 0 0 0 100vw var(--color-00000080);
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.c-shopping-cart::-webkit-scrollbar {
    width: 0;
}

.c-shopping-cart::-webkit-scrollbar-track {
    background-color: var(--color-eae0dc);
}

.c-shopping-cart::-webkit-scrollbar-thumb {
    background-color: var(--color-b58d7e);
}

.c-shopping-cart .c-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    padding: .75rem;
    background-color: var(--color-faf7f6);
    border-radius: 1rem;
}

.c-shopping-cart .c-box .c-close-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--color-5e473e);
    cursor: pointer;
}

.c-shopping-cart .c-box .c-close-icon:hover {
    color: var(--color-9e7464);
}

.c-shopping-cart .c-box img {
    border-radius: .65rem;
    height: 8rem;
}

.c-shopping-cart .c-box .c-content h3 {
    color: var(--color-5e473e);
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

.c-shopping-cart .c-box .c-content span {
    font-size: 1.5rem;
    color: var(--color-b58d7e);
}

.c-shopping-cart .c-box .c-content span.c-multiply {
    margin: 0 1rem;
}

.c-shopping-cart .c-total {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--color-845f51);
}

.c-shopping-cart .c-total span {
    color: var(--color-5e473e);
}

.c-shopping-cart .c-btn {
    width: 100%;
    text-align: center;
    border: 1px solid red;
}
/* shopping cart end */


/* login form start */
/* login form end */


/* home page start */

    /* ---- banner section ---- */

/* home page end */


/* shop page start */

    /* ---- categories ---- */

    /* ---- product section ---- */

/* shop page end */


/* about page start */

    /* ---- about section ---- */

    /* ---- services section ---- */

/* about page end */


/* team page start */

/* team page end */


/* blog page start */

/* blog page end */


/* contact page start */

/* contact page end */


/* footer start */

/* footer end */


/* responsive start */

/* responsive end */